<section class="hero">
  <div class="hero-body">
    <div class="container">

      <h1 class="title ">
        New Staff
      </h1>
        <span><%= link "Back", to: Routes.staff_path(@conn, :index) %></span>
        <br/>
        <br/>
        <%= render "form.html", Map.put(assigns, :action, Routes.staff_path(@conn, :create)) %>
        <span><%= link "Back", to: Routes.staff_path(@conn, :index) %></span>
    </div>
  </div>
</section>
