<h1>Edit Staff payment line</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.staff_payment_line_path(@conn, :update, @staff_payment_line)) %>

<span><%= link "Back", to: Routes.staff_payment_line_path(@conn, :index) %></span>
