<h1>New Staff payment line</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.staff_payment_line_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.staff_payment_line_path(@conn, :index) %></span>
